/timeflies.log
/timeflies.tex~
/timeflies.toc
/timeflies.aux
/README.html
/pack-up.sh~
/fly-1.in
/fly-2.in
/fly-3.in
/fly-4.in
/fly-5.in
/fly-5a.out
/fly-5b.out
/fly-6.in
/fly-6a.out
/fly-6b.out
/fly-6c.out
/fly-7.in
/fly-7-wp.in
/fly-7a.out
/fly-7b.out
/fly-8.in
/fly-8a.out
/fly-8b.out
/fly-8c.out
/fly-8d.out
/version.txt
