/timeflies.log
/timeflies.tex~
/timeflies.toc
/timeflies.pdf
/timeflies.aux
/fly-1.in
/fly-2.in
/fly-3.in
/fly-4.in
/fly-5.in
/fly-5a.out
/fly-5b.out
/fly-6.in
/fly-6a.out
/fly-6b.out
/fly-6c.out
/fly-7.in
/fly-7a.out
/fly-7b.out
/fly-8.in
/fly-9.in
/fly-9a.out
/fly-9b.out
/fly-9c.out
/fly-9d.out
